
@import "variables";
@import "utilities";
@import "mixins";
@import "fonts";
@import "grid";

/*
 * 	Main styling for the plugin
 */

 	body.interactive-article-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 16px;
		padding: 0 $padding;
		background: $black;
 	}

	.interactive-article-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 16px;
		padding: 0 $padding;
		background: $black;
	}

	/*
	 * 	Interactive Header
	 */
	.interactive-header {
		position: absolute;
		width: 100vw;
		height: 50px;
		top: 0;
		left: 0;
		padding: $padding;
		text-align: left;
		z-index: 1000;
		font-size: 0;
		opacity: 0;
		@include transition(opacity 0.6s);

		&.opaque {
			opacity: 1;
		}

		a {
			@include transition(opacity 0.3s);

			&.brand {
				color: white;
				font-size: 20px;
				font-weight: 600;
				font-size: 0;
			    display: inline-block;
			    height: 100%;
			    opacity: 0.9;
                text-decoration: none;
			    @include transition(opacity 0.6s);

			    &:hover {
					opacity: 1;
				}

				img {
					height: 100%;
					margin: 0;
					@include invert(100%);
				}
			}
		}

		.title {
			font-size: 20px;
		}

		.social-share {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			text-align: right;
			padding: 13px 20px;

			a.link {
				display: inline-block;
				font-size: 18px;
				color: white;
				margin-left: 18px;
				opacity: 0.8;

				&.twitter {
					font-size: 20px;
					position: relative;
					top: 1px;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	/*
	 * 	Interactive Background
	 */
	.interactive-background {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;

		/* Compensate for embedded 16:9 video */
		&.gif {
			top: -5%;
			height: 110%;
		}

		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}

		video {
			border: none;
			object-fit: cover;
			width: 100%;
			height: 110%;
			position: relative;
			top: -5%;
			pointer-events: none;
		}
	}

	/*
	 * 	Interactive text
	 */
	.interactive-text {
		position: relative;
		top: 0;
		margin: 0 auto;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		max-width: 700px;
		flex-wrap: nowrap;
		justify-content: center;
		z-index: 2;
		clear: both;

		.content {
			position: relative;
			margin-top: 0;
			overflow: visible;
			max-width: 100%;
			height: fit-content;
			flex-basis: auto;

			h2 a {
				text-decoration: underline;
				color: inherit;
			}
		}
	}

	/*
		Dark style
	*/
	.style-black {

		.interactive-background {
			background-color: $black;
		}
	}

	/*
		White style
	*/
	.style-white {
		color: $black;

		.interactive-background  {
			background-color: $white;
		}

		.caption, .caption-left, .caption-center, .caption-right {
			color: $black;
		}
	}

	.interactive-section.style-white {

		.content div, p, h1, h2, h6 {
			color: $black;
		}

		blockquote p {
			@include text-shadow( 0 0 5px rgba(0,0,0,0.2) );
		}

        .caption, .caption-left, .caption-center, .caption-right {
            @include text-shadow(0 0 8px rgba(0,0,0,0.2));

            p {
                @include text-shadow(0 0 8px rgba(0,0,0,0.2));
            }
        }

		// white cover
		&.cover {

			h1, h2, p, p.byline, p.intro-byline {
			    @include text-shadow( 0 0 5px rgba(0,0,0,0.2) );
			}
		}
	}

	/*
		Links
	*/
	p a {
		color: inherit;
		border-bottom: 1px solid;
		display: inline-block;
		line-height: 1em;
		@include transition(opacity 0.6s);

		&:hover {
			color: inherit;
			opacity: 0.6;
		}
	}

	/*
		Captions
	*/
	.caption, .caption-left, .caption-center, .caption-right {
	    font-size: 1rem;
        line-height: 1.625;
	    font-weight: 600;
	    clear: both;
	    padding: 0 $margin;
	    max-width: 230px;
	    text-transform: uppercase;
	    @include text-shadow(0 0 8px rgba(0,0,0,0.8));

		p {
		    font-size: 1rem;
	        line-height: 1.5;
		    font-weight: 600;
		    text-transform: uppercase;
		    @include text-shadow(0 0 8px rgba(0,0,0,0.8));
		}
	}

	/*
		Positioning
	*/
	.position-left, .caption-left {
		float: left;
		width: fit-content;
	}

	.position-center, .caption-center {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
	}

	.position-right, .caption-right {
		float: right;
		width: fit-content;
	}



/* Desktop */
@media all and (min-width: 768px) {

	progress {
		height: 3px;
	}

	.interactive-section {

		/* Body */
		h2, p {
		    padding: 0;
		}

		p {
		    font-size: 1.2rem;
		    line-height: 1.615em;
		    letter-spacing: -.003em;

		    &.intro-para {
				font-size: 1.5rem;
				letter-spacing: -.5px;
				line-height: 2.1875rem;
				font-weight: 400;
				margin-bottom: 1.8125rem;
			}
		}

		/* Cover */
		&.cover h1 {
			margin-top: 0;
		}

		/* Large */
		&.large {
		    padding: 0;

			h2, p {
			    padding: 0;
			}

			h2 {
			    font-size: 30px;
			}

			p {
			    font-size: 1.3125rem;
			    line-height: 1.73em;

			    &.intro-para {
					font-size: 1.55rem;
					line-height: 36px;
				}
			}
		}
	}
}

/*
	Related articles - Flexslider
*/

.interactive-section .flexslider {
	background: transparent;
	border: none;
	max-width: 610px;
	margin: 0 auto;
}

	.interactive-section .flexslider .flex-item {
		display: block;
		min-width: 260px;
		min-height: 160px;
		position: relative;
		background-size: cover;
		background-position: center center;
	}

	.interactive-section .flex-caption {
		position: absolute;
		left: 0;
		bottom: 0;
		color: white;
		width: 100%;
		padding: 2%;
		background: transparentize( $black, 0.5);
		color: $white;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0;
		margin: 0;
		max-width: none;
		text-align: center;
		@include text-shadow(0 -1px 0 rgba(0,0,0,0.3));
	}

	.flex-direction-nav a:before {
	    font-size: 30px;
	    color: transparentize( $white, 0.9);
	}


/* Large screen */
@media all and (min-width: 1550px) {

	.interactive-section .scroll-icon {
		font-size: 2vw;
	}
}

@media all and (max-width: 1000px) {
	.interactive-section .scroll-icon {
		font-size: 5vw;
	}
}

/* Mobile */
@media all and (max-width: 767px) {

	.interactive-section {

		.scroll-icon {
			font-size: 9vw;
		}

		.content {
			margin-top: 3rem;

			/* Mobile: the first element needs to have top-padding to not overlap - Especially iPhone5 */
			p:first-child, h1:first-child, h2:first-child  {
				margin-top: 3rem;
			}
		}
	}
}

/* iPhone 5 and smaller */
@media all and (max-width: 350px) {

	.interactive-section {

		.scroll-icon {
			font-size: 11vw;
		}

		&.cover .content {

			/* Mobile: the first element needs to have top-padding to not overlap - Especially iPhone5 */
			p:first-child, h1:first-child, h2:first-child {
				margin-top: 4rem;
			}
		}
	}
}
